.home--container {
  background-color: #62760c;
  clip-path: polygon(0 0, 70vw 0, 55vw 100%, 0 100%);
  height: calc(100vh - var(--navbar_height));
  width: 100vw;
  color: var(--yellow);
  padding-left: 8rem;
  padding-top: 12rem; }

.home--h1 {
  width: 70rem; }

.home--h2 {
  width: 88rem;
  margin-bottom: 10rem; }

.home--phone {
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: right;
  animation: slideIn 2s ease-out; }

@keyframes slideIn {
  from {
    transform: translateY(30rem) translateX(20rem) rotate(-70deg);
    opacity: 0; }
  to {
    transform: translateY(0) translateX(0) rotate(0);
    opacity: 1; } }

.input-container {
  font-size: 1.4rem;
  display: inline-block;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  position: relative;
  margin: 1rem; }

.input {
  margin: 0;
  border-radius: 0.5rem;
  border: none;
  padding: 1.5rem;
  position: relative;
  border: 2px solid #bbb; }

.input:focus {
  outline: none;
  border: 2px solid #204d4d; }

.input:focus:invalid {
  outline: none;
  border: 2px solid #bb0202; }

.input:not(:placeholder-shown) + .input-placeholder {
  transform: translate(0, -1.3rem); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.input:focus + .input-placeholder {
  transform: translate(0, -1.3rem);
  /* background-color: red; */ }

.input-placeholder {
  transition: all 0.1s;
  margin-left: 1rem;
  top: 0.5rem;
  left: 0.5rem;
  transform: translate(0, 1rem);
  position: absolute;
  content: "";
  z-index: 1;
  background-color: white;
  color: #aaa;
  padding: 0 0.5rem;
  cursor: inherit;
  /* display: none; */ }

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.lds-ellipsis div {
  position: absolute;
  top: 3.3rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: #204d4d;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(2.4rem, 0); } }

:root {
  --navbar_height: 6rem;
  --yellow: #cdb30c;
  --yellow-green: #62760c;
  --brown-green: #535204;
  --brown: #523906; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Play', sans-serif;
  background-color: var(--brown-green);
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */ }

h1 {
  font-size: 13rem; }

.small-h1 {
  font-size: 8.5rem; }

h2 {
  font-size: 8.5rem; }

.Amatic {
  font-family: "Amatic SC", cursive; }

.qrcode {
  margin: 1rem;
  display: block; }

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 6rem); }

.btn {
  padding: 1rem;
  background-color: #ca8709;
  border: none;
  border-radius: .5rem;
  color: #fff; }

.nav {
  background-color: #cdb30c;
  color: #000;
  display: flex;
  font-family: "Amatic SC", cursive;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 2rem;
  font-size: 4.5rem;
  height: var(--navbar_height);
  padding-right: 3rem; }
  .nav--logo {
    display: flex;
    align-items: center; }
  .nav--link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 10vw;
    gap: 3rem; }
  .nav--item {
    text-decoration: none;
    color: inherit; }
    @media only screen and (max-width: 600px) {
      .nav--item {
        display: none; } }
  .nav--icon {
    background-color: #000;
    height: 0.3rem;
    width: 3.5rem;
    transition: all .2s; }
    @media only screen and (min-width: 601px) {
      .nav--icon {
        display: none; } }
    .nav--icon--label {
      padding: 2rem 0;
      margin-right: .5rem; }
      .nav--icon--label:hover .nav--icon::before {
        transform: translateY(-1.4rem); }
      .nav--icon--label:hover .nav--icon::after {
        transform: translateY(1.3rem); }
      @media only screen and (min-width: 601px) {
        .nav--icon--label {
          display: none; } }
    .nav--icon::after, .nav--icon::before {
      content: "";
      display: block;
      background-color: black;
      height: 0.3rem;
      width: 3.5rem;
      transition: all .3s; }
    .nav--icon::before {
      transform: translateY(-1.2rem); }
    .nav--icon::after {
      transform: translateY(1.1rem); }

.nav--checkbox {
  display: none; }
  .nav--checkbox:checked ~ .nav--icon--label {
    z-index: 10;
    transform: scaleX(1);
    font-size: 1rem;
    visibility: visible; }
  .nav--checkbox:checked ~ .nav--icon--label .nav--icon {
    background-color: transparent; }
  .nav--checkbox:checked ~ .nav--icon--label .nav--icon::before {
    top: 0;
    transform: translateY(0.15rem) rotate(225deg); }
  .nav--checkbox:checked ~ .nav--icon--label .nav--icon::after {
    transform: translateY(-0.15rem) rotate(135deg);
    top: 0; }

.popup-container-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.836);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  transition: all .3s; }

.popup-container-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  transition: all .3s linear, visibilty .4s; }

.popup-item-container-in {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  height: 50vh;
  background-color: white;
  transform: scale(0);
  animation: popupIn .5s ease-out forwards; }

.popup-item-container-out {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  height: 50vh;
  background-color: white;
  transform: scale(1);
  animation: popupOut .3s ease-in forwards; }

@keyframes popupIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes popupOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0);
    display: none; } }

@media only screen and (max-width: 60.5em) {
  .popup-item-container {
    width: 50vw; } }

@media only screen and (max-width: 37.5em) {
  .popup-item-container {
    width: 70vw; } }
