.footer {
    &--img {
        position: absolute;
        top: 40%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    &--text {
        font-size: 10rem;
        color: var(--yellow);
        position: absolute;
        z-index: 10;
        bottom: 20%;
        left: 40%;
        width: 60%;
        text-align: center;
    }
}