#two,
#three {
    height: 100vh;
    width: 100vw;
}

.fp-tableCell {
    display: initial;
    height: calc(100vh - var(--navbar_height)) !important;
}

.section {
    &--first,
    &--third {
        height: calc(100vh - var(--navbar_height)) !important;
    }

    &--second {
        background-color: var(--brown);
    }

    &--third {
    }
}

.specs {
    &--container {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 15rem 2rem;
        justify-content: center;
        align-items: flex-start;
    }

    &--finger {        
        width: 3rem;        

        &-block {
            display: flex;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 7rem;
            left: 47%;
            background-color: var(--light-yellow);
            width: 3.2rem;
            height: 3.2rem;
            z-index: 10;
        }
    }

    &--phone {
        position: relative;
    }

    &--line {
        background-color: var(--yellow);
        height: .4rem;
        
        &--finger {
            width: 30rem;
            position: absolute;
            bottom: 8.5rem;
            right: 53%;

        }
    }

    &--block {
        background-color: var(--yellow);
        position: relative;

        &--font {
            font-size: 3rem;            
            text-align: center;

            &--bold {
                font-weight: bold;
            }
        }

        &--finger {
            width: 30rem;
            height: 15rem;
            right: 100%;
            bottom: 1500%;
            display: flex;            
            align-items: center;
        }
    }
}

.home {
    &--container {
        background-color: #62760c;
        clip-path: polygon(0 0, 70vw 0, 55vw 100%, 0 100%);
        height: calc(100vh - var(--navbar_height));
        width: 100vw;
        color: var(--yellow);
        padding-left: 8rem;
        padding-top: 12rem;
    }

    &--h1 {
        width: 70rem;
    }

    &--h2 {
        width: 88rem;
        margin-bottom: 10rem;
    }

    &--phone {
        position: absolute;
        bottom: 0;
        right: 0;
        transform-origin: right;
        animation: slideIn 2s ease-out;
        // &-container {
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        // }
    }
}

@keyframes slideIn {
    from {
        transform: translateY(30rem) translateX(20rem) rotate(-70deg);
        opacity: 0;
    }
    to {
        transform: translateY(0) translateX(0) rotate(0);
        opacity: 1;
    }
}
