
:root {
  --navbar_height: 6rem;
  --yellow: #cdb30c;
  --yellow-green: #62760c;
  --brown-green: #535204;
  --brown: #523906;
}
// variables

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Play', sans-serif;
  background-color: var(--brown-green);
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

h1{
  font-size: 13rem;
}
.small-h1 {
  font-size: 8.5rem;
}

h2 {
  font-size: 8.5rem;
}

.Amatic {
  font-family: "Amatic SC", cursive;;
}

.qrcode {
  margin: 1rem;
  display: block;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 6rem);
}

.btn {
  padding: 1rem;
  background-color: #ca8709;
  border: none;
  border-radius: .5rem;
  color: #fff;
}